html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: rgba(255, 255, 240, 0.700);

}

.container {
    display: grid;
    grid-template:
        'navbar navbar navbar'
        'main main main'
        'projects projects projects';
}

.navbar {
    display: grid;
    grid-template:
        'name blank blank blank links';
    grid-area: navbar;
    align-content: space-evenly;
    align-items: center;
    margin: 3rem 0rem 7rem 0rem;
}

.name {
    display: grid;
    grid-area: name;
    display: inline-flex;
    justify-self: center;
    font-size: 30px;
    font-family: Playfair Display;

}

.name a {
    text-decoration: none;
    color: #333;
}

.name::after {
    content: ".";
    color: red;
}

.links {
    grid-area: links;
    display: inline-flex;
    justify-self: center;
    grid-gap: 1rem;
    list-style-type: none;
    text-decoration: none;
    font: roboto;
}

.links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.links a:hover {
    color: gray;
}

.main {
    display: grid;
    grid-area: main;
    font-size: 12rem;
    margin-left: 5rem;
    margin-bottom: 10rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.first-line {}

.second-line {
    opacity: 0;
    animation: pop-up 1.5s forwards;
    font-weight: bold;
}

@keyframes pop-up {
    0% {
        opacity: 0;
        transform: translateY(-70rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.projects {
    grid-area: projects;
    height: 1200px;
    background-color: #f0f0f0;
}

.placeholder {
    display: block;
    margin: 0 auto;
    width: 50%;
    opacity: 0;
    transition: opacity 1s ease;
}

.section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3rem;
}

.box {
    flex: 1;
    /* padding: 20px; */
    padding: 3rem;
    background-color: #4d4d4d;
    color: white;
}

.box h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.box p {
    margin-bottom: 20px;
}

.box a {
    color: white;
    text-decoration: none;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 5px;
}

.box a:hover {
    color: #444;
    background-color: white;
}












@media only screen and (max-device-width: 428px) {


    body {
        width: 100%;
    }

    .main {
        display: flex;
        flex-direction: column;
        font-size: 8rem;
        color: rgb(0, 140, 255);
        height: 30rem;
    }


    .projects {
        grid-area: projects;
        height: 1500px;
        background-color: #f0f0f0;
    }

    .box a {
        display: block;
        color: white;
        text-decoration: none;
        background-color: #444;
        padding: 10px 20px;
        border-radius: 10px;

    }

}